html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #1c1d1f;
}
.header__title {
  background-color: #1c1d1f;
  color: #f2f2f2;
  font-size: 1.3rem;
  padding: 15px 2.5% 1% 2.5%;
  border-bottom: #2a2a2c 1px solid;
  position: sticky;
  top: 0px;
  margin: 0px;
}

#sketch__container {
  margin: 50px auto;
  border: #f3f3f3 4px solid;
  height: 80%;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: repeat(16, 2fr);
}
.header__size {
  border: none;
}
.header__title:hover {
  background-color: #26282b;
}

.small__header {
  font-size: 0.9rem;
}

.needs__reset {
  border: #44171b 5px solid;
}

#container__cell {
  border: black 1px solid;
}

.black {
  background-color: black;
}
